.header {
    height: relative;
    width: relative;
    background-color: lightskyblue;
    text-align: center;
    font-weight: bold;
}
h1 {
    font-size: 20px;
    text-align: left;
}
h2 {
font-weight: bold;
height: relative;
width: relative; 
text-align: center;
background-color: violet;
color: white;
margin: 0;
}

button {
background-color: purple;
color: white;
text-align: center;
border-color: purple;
}

th {
    background-color: salmon;
}

body {
    margin: 5%;
}
